.nav-tabs>li>a:hover{background-color:#c6c8c8;border-color:#c6c8c8}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{background-color:#696969;border:1px solid #696969}
.btn-custom{border-color:#696969;background-color:#696969}
.btn-custom-border{background:#696969;border-color:#696969;color:#ffffff}
.features .feature .icon-container .icon{border:1px solid #da1f3c}
.btn-send,
.newsletter input{border:1px solid #ffffff}
.btn-send:hover,
.btn-send:active{background-color:#0088cc;border-color:#0088cc}
.navbar-default .navbar-toggle{background-color:#DA1F3C}
.fa-bars{color:#FFFFFF;}
.btn-custom:hover,
.btn-custom-border:hover{background-color:#C6C8C8;border-color:#C6C8C8}
.btn-slide:hover{opacity:0.7;background-color:#696969;border-color:#696969}
.footer span.jobs{background-color:#696969}
.btn-slide{opacity:0.5;background-color:#696969}
.features .feature:hover .icon-container .icon{/*background-color:#da1f3c*/}
.underline{border-top:4px solid #da1f3c}
.underline-small{border-top:2px solid #0099e6}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-nav>li.current a,
.features .feature .icon-container .icon,
.screens .screen .hover-screen i:hover,
.packages .package.featured .package-name,
ul.extra-features i,
.footer a:hover,
.footer i:hover{color:#DA1F3C}
.footer span.jobs:after{border-right-color:#0099e6}